/FrontEnd/node_modules/

/venv/
/myenv/
node_modules/
FrontEnd/dist/

# Python/BackEnd Files
*.pyc
*/__pycache__/
BackEnd/db.sqlite3
BackEnd/BackEnd/db.sqlite3
*/staticfiles/
*/static/
/BackEnd/config
/BackEnd/.DS_Store
.DS_Store

# All Env Var Files
*.env