/FrontEnd/node_modules/

/venv/
/myenv/
node_modules/
FrontEnd/dist/

# Python/BackEnd Files
*.pyc
*/__pycache__/
BackEnd/db.sqlite3
BackEnd/BackEnd/db.sqlite3
*/staticfiles/
*/static/
/BackEnd/config
/BackEnd/.DS_Store
.DS_Store

# FrontEnd Files
*.log
*.log.*
*/node_modules/
node_modules
FrontEnd/node_modules/
FrontEnd/dist
FrontEnd/venv/

# All Env Files
*.env
venv/